.text-black {
    color: black !important;
}

.text-white {
    color: white !important;
}

#main-container {
    height: calc(100vh - 80px);
    text-align: center;
}

.navbar {
    background: #ff4850 !important;
}

.heading-text {
    padding-top: calc(40vh - 160px) !important;
    font-weight: 800;
    font-size: 36pt !important;
    margin-bottom: 20px;
}

#main-form {
    margin-left: 10%;
    width: 80%;
    text-align: left !important;
}


.form-control, .btn-dark, iframe, #about-description {
    padding: 8px 16px;
    border: 4px solid black;
    border-radius: 8px !important;
    color: black !important;
}

iframe {
    margin-bottom: 20px;
}

.btn-dark {
    background: repeating-linear-gradient(
  45deg,
  #ffffff,
  #ffffff 10px,
  #f1f1f1 10px,
  #f1f1f1 20px
) !important;
}

.btn-dark:hover {
    background: #ff4850 !important;
    color: white !important;
}

.nav-link {
    font-size: 16pt;
}

span.text-emphasis, .navbar-brand {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white !important;
}