{% extends "base.html" %}
{% block content %}
    <div id="main-container">
        <div class="container">
            <div class="heading-text text-black">
                It's not a meme - we're tired of ads.
            </div>
            <div id="main-content">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/5knGcX55Zuo" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

<!--
                </div>
                 <div id="about-content">
                    Look, I know the feeling. You click on a clickbaity video, or perhaps a 2-minute tutorial, and
                    instead of content, you're met with RAID SHADOW LEGENDS. What's terrible is that these ads are
                    embedded in the videos, so there's no way you can accurately skip them. That's why we developed
                    promoshun, which identifies if a video is largely promotion-based, fake, or real content. So next
                    time, instead of using your time trying to find that timestamp where the content begins, just use
                    our website!
                    </div>
                    -->
            </div>
        </div>
    </div>
{% endblock %}