{% extends "base.html" %}
{% block content %}
    <div id="main-container">
        <div class="container">
            <div class="heading-text text-black">
                {{ response }}
            </div>
            <a href="{{ video_url }}">
                <button class="btn btn-dark">watch video</button>
            </a>
            <a class="btn btn-dark" data-toggle="collapse" href="#channelDetails"
               role="button">get channel details</a>
            <div class="collapse" id="channelDetails">
                <div class="card card-body">
                    <b>Channel Name:</b> {{channel_info[0]}}
                    <b>Subscribers:</b> {{channel_info[1]}}
                    <b>Rating (lower = better):</b> {{channel_info[2]}}
                </div>
            </div>
            <table class="table table-light" id="table-nlp">
                <thead>
                <th scope="col">Term</th>
                <th scope="col">Occurrences</th>
                </thead>
                <tbody>
                {% for k,v in freq.items() %}
                    <tr>
                        <th scope="col">{{ k }}</th>
                        <th scope="col">{{ v }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}